@media screen and (max-width:966px) {
   header{
    width: 100vw;
    position: fixed;
   }
}
@media screen and (max-width:839x) {
 
}
@media screen and (max-width:837px) {
   nav{
    width: 0px;
    overflow: hidden;
    z-index: 1;
     position: fixed;
   }

   header {
    display:flex;
    justify-content: space-between
   }
   .oculto{
    display: flex;
    justify-content: start;
    font-size: 40px;
    color: white;
   }
   .fechar-menu{
    display: flex;
   }
   #conteudo{
    margin-left: 0px;
    z-index: -1;
   }
   #nome-utilizador{
      display: none;
      padding-right: 15px;
   }
}
